fastapi
uvicorn
psycopg2-binary
python-multipart
SQLAlchemy
alembic
python-dotenv
python-jose
passlib[bcrypt]
pydantic==2.10.6
pydantic[email]
fastapi-mail==1.4.2
pydantic-settings==2.6.1
reportlab>=4.0.0
qrcode[pil]
jinja2
xhtml2pdf
pillow
jose



